{
    "root": true,
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "globals": {
        "describe": false,
        "it": false,
        "expect": false
    },
    "plugins": [
        "import"
    ],
    "extends": [
        "@hckrnews/eslint-config"
    ],
    "rules": {
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "always"
            }
        ],
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest",
        "parser": "@babel/eslint-parser",
        "babelOptions": {
            "configFile": "./babel.config.cjs"
        }
    },
    "settings": {
        "jsdoc": {
            "mode": "typescript"
        }
    },
    "overrides": [
        {
            "files": [
                "**/__tests__/*.{j,t}s?(x)",
                "**/tests/unit/**/*.spec.{j,t}s?(x)"
            ],
            "env": {
                "jest": true
            }
        }
    ]
}
