{
    "root": true,
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "globals": {
        "describe": false,
        "it": false,
        "expect": false
    },
    "extends": [
        "@hckrnews/eslint-config"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "sourceType": "module",
        "babelOptions": {
            "configFile": "./babel.config.cjs"
        }
    },
    "overrides": [
        {
            "files": [
                "**/__tests__/*.{j,t}s?(x)",
                "**/tests/unit/**/*.spec.{j,t}s?(x)"
            ],
            "env": {
                "jest": true
            }
        }
    ]
}
